.tis {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    line-height: 20px;
    width: 80vh;


}

.his {
    color: blueviolet;
    font-weight: bold;
}

.lorum {
    color: gray;
    line-height: 2rem;
}

.tis>h1 {
    color: deeppink;
}

.parent {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
}