 @import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600&display=swap');

 .bg {
     background-image: url("../src/images/Media/vectors.png");
     font-family: 'Domine', serif;
     background-attachment: fixed;
 }

 body {
     overflow-x: hidden;
 }

 .btndiv {
     justify-content: center;
     display: flex;
     align-items: center;
     margin-top: 3rem;
 }

 .btnshop {
     background-color: blueviolet;
     font-size: larger;
     width: 9rem;
     height: 3.5rem;
     color: white;
     border: none;
     border-radius: 25px;
 }